@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap&subset=cyrillic-ext");
.header {
  max-width: 100%;
  position: relative;
}
.header__line {
  background-color: #1E6140;
  min-height: 50px;
}
.header__print {
  display: flex;
  justify-content: center;
}
.header__print img {
  width: 1920px;
}
.header__container {
  position: absolute;
  top: 14px;
  left: 25%;
}

.info__list {
  display: flex;
}
.info__list li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.info__list li a svg {
  margin-left: 5px;
}
.info__item:not(:first-child) {
  margin-left: 47px;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

._container {
  max-width: 1410px;
  margin: 0px auto;
}