@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap&subset=cyrillic-ext");
.header {
  max-width: 100%;
  position: relative;
}
.header__line {
  background-color: #1E6140;
  min-height: 50px;
}
.header__print {
  display: flex;
  justify-content: center;
}
.header__print img {
  width: 1920px;
}
.header__container {
  position: absolute;
  top: 0;
  left: 25%;
}

.info__list {
  display: flex;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

._container {
  max-width: 1410px;
  margin: 0px auto;
}