@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap&subset=cyrillic-ext");
.header__line {
  background-color: #1E6140;
  min-height: 50px;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1410px;
  margin: 0px auto;
}