.header{
   max-width: 100%;
   position: relative;
   &__line{
      background-color: #1E6140;
      min-height: 50px;
   }
   &__print{
      display: flex;
      justify-content: center;
     & img{
      width: 1920px;
     }
   }
   &__container{
      position: absolute;
      top: 14px;
      left: 25%;
   }
}
.info{
   &__list{
      display: flex;
      & li a{
         text-decoration: none;
         color: #FFFFFF;
         font-size: 16px;
         font-weight: 300;
      }
   } 
   &__item{
      &:not(:first-child){
         margin-left: 47px;
      }
   }  
}
