.header{
   max-width: 100%;
   position: relative;
   &__line{
      background-color: #1E6140;
      min-height: 50px;
   }
   &__print{
      display: flex;
      justify-content: center;
     & img{
      width: 1920px;
     }
   }
   
}