//---FONTS
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap&subset=cyrillic-ext");

//---COMPONENTS
@import "header";

body{
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
   font-family: Montserrat;
   font-weight: 400;
}
.wrapper{
   overflow: hidden;
   width: 100%;
}
._container{
   max-width: 1410px;
   margin: 0px auto;
}
